# Binaries
bin/
*.exe

# Environment
.env
.env.*
*.local.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Go
*.test

node_modules/

# Web
web/.next/
web/.env.local
web/.env.prod
web/.env.dev
web/next-env.d.ts
web/tsconfig.tsbuildinfo